footer{
    padding: 4.6rem 0 2.5rem;
    .footer-social{
        a{
            font-size: 2.5rem;
            color: $secondary;
        }
    }
    p{
        font-size: 1.2rem;
        line-height: 4.1rem;
        letter-spacing: -0.17px;
        a{
            color: $body-color;
        }
    }
}
