img{
    max-width: 100%;
}
a{
    padding: 0;
}
body{
    font-family: $lato;
    font-weight: 400;
}
.section-title{
    font-family: 'Bodoni';
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
    color: $body-color;
    text-transform: uppercase;
}
.section-title:after{
    content: '';
    display: block;
    background-color: $secondary;
    height: 1px;
    width: 74px;
    margin-top: 11px;
}
.ratio{
    background-color: #ccc;
    overflow: hidden;
    display: block;
}